* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a0a0a;
  margin: 0;
  padding: 0;
  color: #e5e5e5;
}

#root {
  width: 100%;
  max-width: 100%;
}

